body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #1b263b;
}

a {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}

a:active {
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;

    display: flex;
    background-color: #778da9;
    color: #000;

    border-bottom: 1px solid #1b263b;
}

.right--section {
    display: flex;
    margin: 0;
}

header img {
    width: 30%;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

header h2 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    margin-left: 10px;
    list-style-type: none;
}

.above--fold {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.above--fold img {
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
}

.slogan {
    position: absolute;
    top: 10%;
    /* left: 226.665; */
    left: 40%;
    width: 25%;
    text-align: center; /* Center the text horizontally */
    display: flex;
    align-items: center; /* Center the text vertically */

    /* color: #ffffff; */
    font-size: 1.5rem;
    font-weight: 600;
}


.what--we--do--head {
    display: flex;
    margin: 16px auto;
    padding: 5px;
    text-align: center;
    justify-content: center;
    background-color: #778da9;
    border: none;
    border-radius: 5px;
    color: #000;
    width: 80%;
}

.what--we--do {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.what--we--do div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #778da9;
    border: none;
    border-radius: 5px;
    color: #000;
    width: 80%;
    margin-top: 10px;
    padding-top: 10px;
}

.what--we--do div img {
    /* display: flex; */
    margin: 0 auto;
    width: 95%;
    height: auto;
    object-fit: contain;
}

.what--we--do .descript {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.what--we--do p {
    margin: 0;
    padding: 0;
}

.about--us {
    background-color: #778da9;
    border: none;
    border-radius: 5px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 20px auto;
    text-align: center;
}

.groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 10px auto;
}

.groups h2 {
    background-color: #778da9;
    border: none;
    border-radius: 5px;
    color: #000;
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groups div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.groups h3 {
    text-align: center;
}

.individual--group {
    background-color: #778da9;
    color: #000;
    border: none;
    border-radius: 5px;
    padding-bottom: 20px;
    width: 70%;
}

.group--info {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.group--info span {
    margin: 0 1.1rem;
}

.group--specifics {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.group--specifics img {
    width: 60%;
    object-fit: cover;
}

.dog {
    mix-blend-mode: color-burn;
}

.group--descript {
    flex: 1;
    padding: 0 10px; /* Add padding for spacing between image and text */
    text-align: left;
}

.groups button {
    width: 8rem;
    font-size: 1.1rem;
    padding: 10px 25px;
    background-color: limegreen;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

.join--btn {
    border: 1px solid #1b263b;
}

.groups button:active {
    background-color: darkgreen;
    border: 1px solid black;
}

footer {
    background-color: #415a77;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
}

.address {
    text-align: center;
}

footer hr {
    background-color: #000;
    border: none;
    width: 95%;
    height: 2px;
}

.creator {
    text-decoration: underline;
}


@media (min-width: 525px) and (max-width: 770px) {
}


@media (max-width: 770px) {
    /* .slogan {
        top: 0;

        display: flex;
        justify-content: center;
        font-size: 3.4em;
        background: -webkit-linear-gradient(#fff, #6190E8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        margin: 0 auto;
    } */
} 

@media (min-width: 800px) {
    body {
        font-size: 1.2rem;
    }

    .what--we--do {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }

    .what--we--do div {
        width: 30%;
    }

    .what--we--do div img {
        width: 95%;
        object-fit: contain;
        margin: 0 auto;
    }

    .group--specifics {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1500px) {
    body {
        font-size: 2rem;
    }
}